---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <div class="header">
        <div>
            <h1>Welcome to Zip Technologies!</h1>
            <p><mark>Empowering Creativity, One Project at a Time</mark></p>
        </div>
    </div>
    <p>Welcome to Zip Technologies, a passionate community dedicated to promoting and sharing remarkable Scratch Projects and software from the Scratch forums. Our mission is to provide creators with a platform to showcase their work, connect with a wider audience, and celebrate the creativity that thrives within the Scratch community.</p>
    <h2>Our Mission</h2>
    <ul>
        <li>Collaborate with creators to bring their software to a larger audience.</li>
        <li>Provide a user-friendly platform for discovering and accessing innovative projects.</li>
        <li>Offer support and assistance to users to ensure an enjoyable experience.</li>
        <li>Promote exceptional projects crafted by talented Scratch enthusiasts.</li>
        <li>Foster a welcoming community where members can share ideas, collaborate, and explore together.</li>
    </ul>
    <p>Join us on this journey of empowering creativity, one project at a time.</p>
</Layout>

<style>
    .header {
        text-align: center;
        margin: 5rem 0 1rem 0;
    }
    @media (max-width: 320px) {
        .header {
            margin: 3rem 0 0 0;
        }
    }
</style>